{% extends "mybase.html" %}
{% block title %}Home{% endblock %}

{% block page_content %}



<div id="demo" class="carousel slide" data-ride="carousel">

  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='main.jpg') }}" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3>旅遊推薦系統</h3>
        <p>只要上傳照片</p>
        <p>給你你想要的旅遊規劃</p>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


{% endblock %}