{% extends "mybase.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}上傳照片{% endblock %}

{% block page_content %}
<h2>Hi~ {{ username }}</h2>
<p>請上傳喜歡的照片~~</p>

<!--<form action="/action_load_pic.php">-->

<!--    <div class="form-group">-->
<!--      <input type="file" class="form-control-file border" name="file">-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary">Submit</button>-->
<!--  </form>-->

<div class="container">

        <div>
            <form action="upload" method="post"
             enctype="multipart/form-data">
                <p>請上傳喜歡的景點~~</p>
                <input type="file" multiple="" name="place"
                 class="span3"><br/>
                <br>
                <p>請上傳喜歡的食物~~</p>
                <input type="file" multiple="" name="food"
                 class="span3"><br/>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>




{% endblock %}